@import '../../../assets/css/colors.scss';
.container {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 320px;
  h1 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}
.error {
  display: inline-block;
  font-size: 12px;
  color: $error_red;
  opacity: 0;
  height: 15px;
  margin-bottom: 2rem;
  &_visible {
    opacity: 1;
  }
}
.title {
  font-size: 12px;
  color: $light_gray_text;
  // margin-bottom: -0.25rem;
}
.time_container {
  position: absolute;
  right: 0;
}
.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    border-radius: 3px;
    font-size: 16px;
    height: 2.25rem;
  }
}
.btn_submit {
  width: 75%;
  margin-bottom: 0.25rem;
  background-color: $green_text;
  color: white;
}
.btn_submit:disabled,
.btn_submit[disabled] {
  background-color: $green_disabled;
  cursor: not-allowed;
}
.btn_cancel {
  color: $primary_text;
}
.dates_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
.start_date_container {
  margin-bottom: 2rem;
}
