.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  //   overflow: auto;
}
.content {
  position: absolute;
  outline: none;
  top: 10%;
  left: 50%;
  animation: animateSlideUp 0.25s ease;
  transform: translateX(-50%);
}

@keyframes animateSlideUp {
  from {
    opacity: 0;
    top: 1000px;
  }

  to {
    opacity: 1;
    top: 10%;
  }
}

.content_after_open {
  opacity: 1;
}
.content_before_close {
  animation: animateSlideDown 250ms ease-out;
}
@keyframes animateSlideDown {
  from {
    top: 100px;
    opacity: 1;
  }

  to {
    top: 1000px;
    opacity: 0;
  }
}
.overlay_before_close {
  opacity: 0;
  transition: opacity 200ms ease;
}
.overlay_after_open {
  opacity: 1;
  transition: opacity 200ms ease;
}
